
.contenedor {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px;
    justify-content: space-around;
    align-items: flex-start; 
}


.lista-noticias {
    flex: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}


article {
    width: 100%;
    max-width: 500px;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 5px black;
    padding: 20px;
    border-radius: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin: 10px 0;
        max-width: 100%;
        height: 300px;
        display: block;
        object-fit: cover;
    }
}


aside {
    flex: 1; 
    background-color: beige;
    border: 1px solid brown;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start; 
}


form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid black;
    }

    button {
        padding: 10px;
        border-radius: 4px;
        background-color: brown;
        cursor: pointer;
        color: white;
        border: none;
        transition: background 0.3s;
    }

    button:hover {
        background-color: darkred;
    }
}


@media (max-width: 768px) {
    .contenedor {
        flex-direction: column; 
        padding: 20px;
    }
    .lista-noticias {
        flex-direction: column;
    }

    article img {
        height: auto; 
        max-height: 250px;
    }
}