<div class="contenedor">
    <aside>
        <form>
            <input type="text" placeholder="Introduce el titulo de la noticia">
            <input type="text" placeholder="Introduce la url de la imagen de la noticia">
            <input type="text" placeholder="Introduce el texto de la noticia">
            <input type="date" placeholder="Introduce la fecha de la noticia">

            <button>Enviar</button>
        </form>
    </aside>
    <div class="lista-noticias">
        @for (noticia of arrayNoticias; track $index) {
            <section>
                <h3>{{noticia.titulo}}</h3>
                <img [src]="noticia.imagen">
                <p>{{noticia.texto}}</p>
                <span>{{noticia.fecha}}</span>
            </section>
        }
    </div>
</div>